<h1>Angular 2 Change Detection Demos</h1>
<p>Pick one of the following:</p>
<p>Change Detection Time= C * N</p>

<p>C: time to check a binding</p>
<p>N: number of bindings</p>

<div class="site-nav">
  <a [routerLink]="['/defaultChangeDetection']">Default Change Detection</a>
  <a [routerLink]="['/onPushChangeDetection']">OnPush Change Detection</a>
  <!--<a [routerLink]="['/OnPushChangeDetectionObservables']">OnPush Change Detection (Observables)</a>-->
  <!--<a [routerLink]="['/ManualChangeDetection']">Manual Change Detection</a>-->
</div>
<div>
  <router-outlet></router-outlet>
</div>
